body {
    background-image: url('/static/images/matrix.jpg');
    background-repeat: no-repeat;
    background-size: 110%;
}

.capa1 {
    background: rgb(9, 255, 0);
    background: linear-gradient(90deg, rgba(9, 255, 0, 0.5018382352941176) 0%, rgba(208, 252, 170, 0) 55%, rgba(0, 0, 0, 1) 100%);
    width: auto;
    min-height: 1080px;
}

.capa2 {
    background-color: transparent;
    background-color: rgba(106, 10, 185, 0.7);
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 120px;
        text-shadow: 0px 5px 10px #320457,
            0px 10px 10px rgba(0, 0, 0, 0.15),
            0px 15px 15px rgba(0, 0, 0, 0.1),
            0px 20px 20px rgba(0, 0, 0, 0.1);
}

.word {
    margin: auto;
    color: white;
    font: 700 normal 2.5em 'tahoma';
}